<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang admin</title>

    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets/datepicker3.css" rel="stylesheet">
    <link href="../stylesheets/styles.css" rel="stylesheet">
    <link href="../stylesheets/search-style.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="../assets/ionicons-2.0.1/css/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!--nav-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#"><span>Blog</span>Admin</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <!--nav-->

    <!--sidebar-->
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">{{user.username}}</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <ul class="nav menu">
            <!--<li class="active"><a href="index.php"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>-->
            <li><a href="../"><em class="fa fa-toggle-on">&nbsp;</em> Products</a></li>
            <li><a href="../users"><em class="fa fa-toggle-off">&nbsp;</em> Users</a></li>
            <li><a href=""><em class="fa fa-calendar">&nbsp;</em> Types</a></li>
            {{#if user}}
            <li><a href="/changePass"><em class="fa fa-bar-chart">&nbsp;</em> Change Password</a></li>
            <li><a href="/login/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
            {{else}}
            <li><a href="/login"><em class="fa fa-power-off">&nbsp;</em> Sign in</a></li>
            {{/if}}
        </ul>
    </div>
    <!--sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="">
                        <em class="fa fa-home"></em>
                    </a></li>
                <li class="active">Users</li>
            </ol>
        </div>
        <!--/.row-->
        <div class="container">
            <!-- SEARCH FORM -->
            <div class="s009">
                <form action="/users/" method="GET">
                    <div class="inner-form">
                        <div class="basic-search">
                            <div class="input-field">
                                <input id="search" type="text" placeholder="Name..." name="searchName" value="{{searchName}}"/>
                                <div class="icon-wrap">
                                    <svg class="svg-inline--fa fa-search fa-w-16" fill="#ccc" aria-hidden="true"
                                        data-prefix="fas" data-icon="search" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path
                                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="advance-search">
                            <div class="row third">
                                <div class="input-field">
                                    <div class="group-btn">
                                        <button class="btn-delete" id="delete">RESET</button>
                                        <button class="btn-search">SEARCH</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- SEARCH FORM -->

            <form action="/add">
                <button type="submit" class="snip1457">Add</button>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: center;">Username</th>
                        <th style="text-align: center;">Phone</th>
                        <th style="text-align: center;">Email</th>
                        <th style="text-align: right;">Is Banned</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td style="width: 200px;vertical-align: middle;text-align:center">{{user.username}}</td>
                        <td style="width: 200px;vertical-align: middle;text-align:center">{{user.phone}}</td>
                        <td style="width: 200px;vertical-align: middle;text-align:center">{{user.email}}</td>
                        {{#if isLock}}
                        <td id="markBlock" style="width: 150px;vertical-align: middle;text-align:right">X</td>
                        {{else}}
                        <td id="markBlock" style="width: 150px;vertical-align: middle;text-align:right"></td>
                        {{/if}}
                        <td style="text-align: center;">
                            <form action="/users/detail-action" method="GET">
                                <button id="id" type="submit" name="userID" value={{_id}}
                                    class="snip1457" style="font-size: 10px;font-weight: bold">Detail</button>
                            </form>
                            <button id="id" type="button" name="userID" onclick="blockUser(this.value)" value={{_id}} onc
                                 class="snip1457" style="font-size: 10px;font-weight: bold">Block</button>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <!--phân trang-->
            <nav style="float:right;">
                
            <ul class="pagination">
              {{#if first}}
                <li><a href="/users/?page=1&searchName={{searchName}}">First</a></li>
              {{/if}}
              {{#if prev}}
                <li>
                  <a href="/users/?page={{prevPage}}&searchName={{searchName}}" aria-label="Previous">
                    <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
                  </a>
                </li>
                <li><a href="/users/?page={{prevPage}}&searchName={{searchName}}">{{prevPage}}</a></li>
              {{/if}}
                <li><a class="active" href="/users/?page={{page}}">{{page}}</a></li>
              {{#if next}}
                <li><a href="/users/?page={{nextPage}}&searchName={{searchName}}">{{nextPage}}</a></li>
                <li>
                <a href="/users/?page={{nextPage}}&searchName={{searchName}}" aria-label="Next">
                  <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
                </a>
              </li>
              {{/if}}
              {{#if last}}
                <li><a href="/users/?page={{pages}}&searchName={{searchName}}">Last</a></li>
              {{/if}}
            </ul>
          
            </nav>
        </div>

    </div>
    <!--/.main-->

    <script src="../javascripts/jquery-1.11.1.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/chart.min.js"></script>
    <script src="../javascripts/chart-data.js"></script>
    <script src="../javascripts/easypiechart.js"></script>
    <script src="../javascripts/easypiechart-data.js"></script>
    <script src="../javascripts/bootstrap-datepicker.js"></script>
    <script src="../javascripts/custom.js"></script>
    <script src="/./assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.onload = function () {
            var chart1 = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc"})}
    </script>
    <script src="../javascripts/extention/choices.js"></script>
    <script>
      const customSelects = document.querySelectorAll("select");
                const deleteBtn = document.getElementById('delete')
      const choices = new Choices('select',
                    {
                        searchEnabled: false,
                        itemSelectText: '',
                        removeItemButton: true,
                    });
                deleteBtn.addEventListener("click", function (e) {
                    e.preventDefault()
                    const deleteAll = document.querySelectorAll('.choices__button')
                    for (let i = 0; i < deleteAll.length; i++) {
                        deleteAll[i].click();
                    }
                });
    </script>

</body>

</html>